.main
{
    margin-top: 2%;
    margin-left: 36%;
}

.header
{
    color: rgba(1, 77, 219, 0.966);
    margin-bottom: 5%;
}

.header a:hover
{
    text-decoration: none; 
}

.header h1
{
    margin-left: 11.25%;
}

.header p
{
    margin-left: 10%;
}

form h3
{
    /* text-align: right; */
    font-weight: 400;
}

.split-button
{
    width: 10%;
    margin-left: 10%;
}

.split-button h5
{
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.result h3
{
    margin-top: 2%;
    margin-left: 10%;
    font-weight: 400;
}

.dropdown-item
{
    font-size: 1.2rem;
}

.bill-img
{
    width: 2%;
}

.people-img
{
    width: 2%;
}

.tax-img
{
    height: 2%;
    width: 2%;
}

.tip-img
{
    height: 2%;
    width: 2%;
}