.main
{
    background-color: rgba(240, 248, 255, 0.301);
    margin-top: 2%;
    margin-left: 36%;
    width: 25%;
    height: 75%;
    box-shadow: 0 4px 6px 4px rgba(0, 140, 255, 0.4) ;
    padding-left: 5%;
}

.header
{
    padding-top: 3%;
    color: rgba(1, 77, 219, 0.966);
    margin-bottom: 5%;
}

.header a:hover
{
    text-decoration: none; 
}

.header h1
{
    margin-left: 22%;
}

.header p
{
    margin-left: 17%;
}

form h3
{
    margin-left: 0%;
    font-weight: 400;
}

.split-button
{
    width: 25%;
    margin-left: 24%;
}

.split-button h5
{
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.result h3
{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    font-weight: 400;
}

.dropdown-item
{
    font-size: 1.2rem;
}

.bill-img
{
    margin-left: -8%;
    width: 5%;
}

.people-img
{
    margin-left: -8%;
    width: 5%;
}

.tax-img
{
    margin-left: -8%;
    height: 2%;
    width: 5%;
}

.tip-img
{
    margin-left: -8%;
    height: 2%;
    width: 5%;
}